@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #9B06CE;
}

body{
    background-color: rgb(34, 34, 34);
    color: #fafafa;
    font-family: 'Inter', sans-serif;
    padding: 1rem 4rem;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

header ul{
    display: flex;
    gap: 8px;
    align-items: center;
    gap: 1rem;
    transition: all .5s ease-in-out;
}

header li{
    list-style: none;
    font-size: 1.1rem;
}

header a{
    color: #fafafa;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.mobile-menu{
    display: none;    
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fafafa;
    margin-top: 8px;
    transition: all .5s ease-in;
}

.header-button{
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    padding: 1rem 1.25rem;
}

.header-button:hover{
    text-decoration: none;
}

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }

    header ul{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 17vh;
        right: 0;
        width: 70vw;
        background-color: rgb(34, 34, 34);
        height: 83vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    
    .mobile-menu{ 
        display: block;
    }
    
    header ul.active{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        transition: all .5s ease-in;
    }
}

@media (max-width: 450px) {
    header ul{
        display: none;
    }

    header ul.active{
        display: flex;

    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 5px);
}

.mobile-menu.active .line2{
    transform: translateX(-40px);
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-8px, -7px);
}

/* Main */

main{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

main aside{
    width: 90%;
    max-width: 600px;
}

main h2{
    font-size: 4rem;
}

main h2:nth-child(1){
    color: var(--color-primary);
}

article img{
    width: 100%;
}

form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

form input{
    font-size: 1.25rem;
    padding: 1rem;
    border: 0;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    width: 80%;
    outline: 0;
}

form button{
    width: 50%;
    font-size: 1.25rem;
    padding: 1rem;
    border: 0;
    border-radius: 1.25rem;
    background-color: var(--color-primary);
    color: #fafafa;
    cursor: pointer;
}

@media (max-width: 450px) {
    body{
        padding: 1rem 3rem;
    }

    main h2{
        font-size: 3rem;
    }

    form input{
        width: 100%;
    }

    form button{
        width: 70%;
    }
}